[2015-10-30 10:36] viveksonihmr opened #1 "Failed to resolve:'com.afollestad:material-dialogs:0.7.8.0"
When I am run this ticker app,then during building gradle,an error is occur Shows as - Failed to resolve:'com.afollestad:material-dialogs:0.7.8.0

<img width="674" alt="capture" src="https://cloud.githubusercontent.com/assets/10378401/10843625/697c2c54-7f3d-11e5-961c-c2f5142f1228.PNG">

Please help me,to solve this.thanks in advance!

[2015-11-16 07:40] prashantgosai26 commented on #1
@viveksonihmr are you get solution of above problem...?
if you get it please help me to solve it
i'm getting same problem

[2015-11-16 18:39] jensck commented on #1
The latest version of the app shouldn't have this problem.  Try pulling the latest from git and cleaning your build.

This should resolve the issue, but if it doesn't, feel free to re-open this!

[2015-11-16 18:39] #1 closed

[2015-11-17 01:50] viveksonihmr commented on #1
Thanks jens! This problem have been solved,Now its working fine.
:)

On Tue, Nov 17, 2015 at 3:39 AM, Jens Knutson <notifications@github.com>
wrote:

--
*Er.Vivek Soni*
Integrated Circuit Interface Lab
College of Electronics and Radio Engineering
*Kyunghee University(KHU),Suwon,South Korea*

[2015-12-27 10:50] themakerbro opened #2 "Failed to resolve:'com.afollestad:material-dialogs:0.7.9.1"
Similar to issue #1.  Latest version of the app fails to build.

![screen shot 2015-12-27 at 2 59 58 am](https://cloud.githubusercontent.com/assets/7302561/12009936/71623056-ac44-11e5-846e-e40704a114eb.png)

[2015-12-30 02:05] jensck opened #3 "Sort devices list"
See suggestion here: https://community.particle.io/t/please-sort-device-list-displayed-in-phone-app/18569

[2016-01-08 05:48] swetabh007 commented on #2
The latest version of the app shouldn't have this problem. Try pulling the latest from git and cleaning your build.

This should solve your problem.

[2016-01-11 09:56] vibhorsd commented on #2
The problem is still there, I don't see any commit pushed to fix this.

[2016-01-12 03:33] jensck commented on #2
@vibhorsd I've applied 90% of the complete fix on master, and a temporary fix for the remaining 10% just to get it compiling.  Pull from master and clean, and it will build.

[2016-02-04 06:25] jensck commented on #3
Closed by release 1.6.1

[2016-02-04 06:25] #3 closed

[2016-02-29 17:13] jensck opened #4 "Don't prevent installs on devices without a rear camera"
Looks like the Electron setup barcode scanning support is preventing installation on devices with no rear camera.

Look into how we can support these devices and provide a bit of feedback when they try to launch the barcode scanner.

[2016-02-29 17:16] harrisonhjones commented on #4
Let them type it in manually? That's what Android Pay does. What does the Barcode scanner do if you do launch it w/o a proper camera?

[2016-02-29 18:47] idokleinman commented on #4
Out of curiosity - which devices today have no rear camera?

[2016-02-29 19:15] harrisonhjones commented on #4
Well, the original issue came from a guy with a Nexus 7 running Android 5.1.1 but I'm sure that has a rear camera

[2016-02-29 19:59] jensck commented on #4
The more popular, more recent 2013 Nexus 7 had one, but the OG 2012 Nexus 7 did not: https://en.wikipedia.org/wiki/Nexus_7_(2012)#Critical

It's fairly rare for devices not to have a rear camera.  These days it seems more common to omit the front  camera instead when OEMs are looking to cut costs.

[2016-03-03 15:16] JamesWhitfield opened #5 "Missing drawable"
missing drawable/abc_ic_menu_moreoverflow_mtrl_alpha

which is used in row_device_list.xml

[2016-03-03 16:05] jensck commented on #5
Was this issue showing up specifically with the 23.2 version of the support library?

If so, can you reproduce it with 23.1.x?

[2016-03-06 13:19] JamesWhitfield commented on #5
changing the gradle files to build from 23.1.1 seems to have no effect on the generated aars. the project still generates 23.2.0 libraries. Are you including these from another source?

[2016-03-07 11:05] JamesWhitfield commented on #5
23.2.0 was being built from the other dependencies. adding

compile ('com.android.support:appcompat-v7:23.1.0'){
        force = true
    }

solved the issue.

[2016-03-17 15:34] #5 closed

[2016-06-09 18:55] danieldmarks opened #7 "Particle App does not recognize devices with Android v 6.0.1"
The Photon in my kit has not worked correctly. My friend, who has a lot of experience with these tried to help me but he believes there is something wrong with the Photon as well. You can see his posts on your support site.https://community.particle.io/t/photon-continually-blinking-blue-a-couple-things-to-eliminate/22317/11
I tried connecting with the USB cable and command line steps but it did no

[2016-06-29 03:58] jensck opened #9 "Stop referring to private resources from the support lib"

[2016-06-29 06:51] jensck commented on #7
Very odd; thanks for the bug report!

I'll get my hands on a Samsung device and try this out.

[2016-07-16 03:20] #2 closed

[2016-09-01 19:51] bloukingfisher opened #10 ""I forgot my password" from app not working"
I've verified that it works on an iPhone but on Android (Samsung Galaxy S6 Android version 6.0.1) on the Particle app if you click the link "I forgot my password" it seems to open a mobile web page with the message "Looks like you got lost". The menu item from this page doesn't offer a link to retrieve a password and requires a user to know and go to the website to reset a password.

I suspect it

[2016-09-01 20:04] bloukingfisher commented on #7
I've read the friends post and I have a Samsung Galaxy S6 with Android 6.0.1. I get stuck at the same point with a new Photon when the wifi "smart network switch" is enabled. When I disable it I can easily setup and claim a new Photon as I did today. I can't say this is exactly the problem but maybe @danieldmarks can replicate or test if this creates and solves the problem (wifi - advanced setting

[2017-01-24 21:37] idokleinman opened #11 "Add device searching/filtering in devices page"

[2017-01-26 22:07] idokleinman opened #12 "Explore idea of having native in-app shopping for Particle hardware"

[2017-01-26 22:07] idokleinman opened #13 "Device naming at end of process (with updated device setup lib)"

[2017-01-26 22:11] idokleinman opened #14 "Modify signup screen to support new accountInfo fields"
1. Add first/last/company names, company account yes/no - fields
2. Consume it from updated device setup lib
3. Add segment analytics for signup events with data

[2017-01-26 22:12] idokleinman opened #15 "Device inspector feature in iOS"
- Device info
- Functions + Variables
- Events

[2017-01-26 22:12] idokleinman opened #16 "Implement “dark matter" design"

[2017-01-26 22:12] idokleinman opened #17 "Support for compound devices in device list window"
Add relevant vector gfx icons

[2017-01-26 22:13] idokleinman opened #18 "Don't show "Get Started" screen if already logged in"
Just straight to device list screen

[2017-01-26 22:14] idokleinman opened #19 "Ensure device naming at end of Soft AP setup process appears"
Consume from updated device setup lib

[2017-01-26 22:23] idokleinman commented on #13
duplicate of #19

[2017-01-26 22:23] #13 closed

[2017-01-26 22:24] idokleinman commented on #9
Clarification @jensck ?

[2017-01-26 22:30] idokleinman opened #20 "Add bug tracking SDK to app"
Bugsee
Instabug

open for discussion

[2017-01-26 22:32] idokleinman opened #21 "Match design and customization points to iOS setup lib"

[2017-01-27 00:55] idokleinman opened #22 "Add feature to enable publishing event from the app"
After device inspector is in place
(Also add for iOS)

[2017-01-27 01:02] idokleinman opened #23 "Go over critical reviews in Play Store and address them"
Probably just over the last 3 months ones

[2017-01-27 04:57] jensck commented on #23
These will all be fixed if we put out an update to the Tinker app with the new SDK and setup lib.

[2017-01-27 21:55] idokleinman commented on #23
Yea but I prefer to be proactive and answer negative reviews caused by failed setup with suggestions how to get support

[2017-02-01 03:06] jensck commented on #23
Agreed!  I just meant that the code issues creating most of the critical reviews have been addressed, and we could respond to many of the reviews with a message notifying them of an app update.

[2017-02-01 03:08] jensck commented on #9
Looks like this is done, actually.

[2017-02-01 03:08] #9 closed

[2017-02-01 03:11] jensck commented on #18
Can this be repro'd?  We already jump to the device screen if we're logged in.

[2017-02-03 19:17] idokleinman opened #25 "Segment Analytics integration"
Integrate Segment analytics in app.
https://segment.com/docs/sources/mobile/android/

For signup use the following field names in a `track` event with name `android account creation`:

email
firstname
lastname
isbusiness
company

for login use `identify` event.
All rest -track iOS behavior from source code

[2017-02-06 19:40] CityVibes opened #26 "Electron sim card activation"
Electron sim card activation screen leads nowhere (unresponsive confirmation button). In same screen browser version presents payment form popup.

[2017-02-14 17:10] CityVibes commented on #18
@idokleinman Unless there's a bug it does already work that way.

[2017-02-24 19:48] jenesaisdiq commented on #10
Seconded @idokleinman and thirded by Chris.

[2017-02-26 20:37] CityVibes commented on #26
@jensck @idokleinman From what I understand popup comes from stripe, if I enable popups I'll be redirected to stripe checkout however it won't work since stripe does not support webviews. Looks like other people are suggesting custom checkout form to go around this issue.

[2017-03-24 04:27] towynlin opened #32 "Blank dropdown for each row in device list"
![screenshot_20170323-210826](https://cloud.githubusercontent.com/assets/3389/24280491/336379c0-100e-11e7-8360-9317e0a86781.png)

When I click the 3 dots on the right of any row in the device list on my Nexus 7 on Android 6.0.1 with Particle app version 1.7.0 I see a blank white box. On my Nexus 5X with Android 7.1.1 I get the same thing.

I just upgraded the 5X from a recent internal apk of 1.6.4

[2017-03-24 04:43] towynlin opened #33 "Raspberry Pi devices show up as Photons"
Raspberry Pi devices (`platform_id: 31` in the API response) currently show up as Photons. They should be supported with the text "Raspberry Pi" instead of "Photon" and we should have an image for them.

[2017-03-29 16:33] san2code opened #34 ""Credentials invalid" error message in signup page instead of "already registered email id""
The app is showing "User Credentials are invalid" error message for already registered email id during sign up. It should show relevant error message.

[2017-03-30 02:17] idokleinman commented on #34
Thanks for reporting, we'll fix the app to display the right message.

[2017-04-24 14:27] kennethlimcp opened #36 "Standardize release workflow"
1. I see that the current playstore version is `1.7.0` and the latest under releases is `1.6.3` with no description
2. Shouldn't there be a github `release` for each version bump for better tracking?

[2017-04-24 20:53] CityVibes commented on #36
@kennethlimcp There should, thanks for pointing that out.

[2017-04-24 21:20] #36 closed

[2017-09-03 20:45] dblosevn opened #38 "Photon board image upside down"
Pin A0 and D0 are on the square side if the board, but in the board image in the tinker app they are on the side with the notches, easiest fix is likely to reverse the pin order on each side.

[2017-12-17 16:08] #15 closed

[2017-12-17 16:08] #4 closed

[2017-12-17 16:08] #32 closed

[2017-12-17 16:09] #16 closed

[2017-12-17 16:09] #7 closed

[2017-12-17 16:09] #18 closed

[2017-12-17 16:09] #10 closed

[2017-12-17 16:10] #19 closed

[2017-12-17 16:10] #25 closed

[2017-12-17 16:10] #14 closed

[2018-01-17 20:22] #23 closed

[2018-03-04 22:16] CityVibes commented on #20
Uses Fabric Crashlytics right now.

[2018-03-04 22:16] #20 closed

[2018-03-04 23:42] CityVibes commented on #26
Popup seems to work now.

[2018-03-04 23:42] #26 closed

[2018-07-27 15:05] ScruffR opened #46 "Screen rotation on Android tablet"
I've just tried Android Tinker App on a Samsung Galaxy Tab S3 and was somewhat confused that the app doesn't seem to support screen rotation.
Since the tablet is mainly used in landscape orientation (in combination with the keyboard folio) it's rather inconvenient that this seems to be one of the few apps that don't adjust screen orientation.

[2018-07-27 15:17] jensck commented on #46
+1, this is something we should finally address after we've shipped our mesh features on mobile.

Thanks for calling this out!

[2018-12-11 22:52] ScruffR opened #52 "Mesh setup: "scanning for mesh network" screen should require action"
I stumbled over this myself several times and have seen users thrown off by it too.
When adding a device to a mesh network you get the "scanning for mesh network" screen which eventually shows the found networks but there is no prompt to actually select one of the found networks and the spinner keeps spinning one might consider the app stuck.

As soon a network has been found a prompt to actually

[2018-12-13 06:58] jensck commented on #52
Did you have any kind of prompt in mind?  I wonder if just altering/adding some header text would be enough.

As for the spinner, it stays there to indicate that scanning is always ongoing, since the state of available mesh networks is transitory.

[2018-12-13 12:11] ScruffR commented on #52
Altering the header text should suffice.
e.g. _"Please select mesh network to join / (scanning for available mesh)"_

The focus of that step is not the scanning in itself (which would not require the user to do anything but _wait_), but should inform the user that _his_ action is required.

[2018-12-15 17:59] andyw-lala opened #53 "poor error flow if specifying a device name that is already taken when adding mesh device"
When adding a mesh device, if you enter a device name that is already taken, the error flow is not useful.

It looks like _maybe_ the app puts some kind of error/splash window up, but it does not persist and the end result for the user is that you cannot continue unless you think "maybe I should try a different device name".

This on Android 7.0, on an LG G5

[2018-12-15 18:01] andyw-lala opened #54 "Mesh setup videos do not play on LG G5 w/ Android 7.0"
The Mesh setup videos do not play. I get a black box on the screen, where I assume the video should play, and a dialog box telling me it cannot play the video, which I click OK to dismiss.

This on Android 7.0, on an LG G5

[2018-12-15 18:06] andyw-lala commented on #52
I agree with @ScruffR that the current behaviour is misleading/sub-optimal.

Providing a hint that the user can select as soon as they see the network the want would be good, especially since the spinner is active (usually means the user should wait.)

[2018-12-20 22:55] ScruffR opened #55 "Comminssioner screen isn't really clear"
As discussed in this [thread](https://community.particle.io/t/xenon-cannot-connect-to-mesh/46452), users don't quite get the meaning of the commissioner setup and admittedly the text doesn't really tell the story well - also instead of mentioning Xenon as commissioner a more generic term would be good, especially if you only have the gateway (Argon/Boron) as assisting device.

![image](https://use

[2018-12-22 02:38] ScruffR commented on #55
Even after the update where the commissioner screen only shows the video, the next screen *insists* in using a Xenon as commissioner - **it isn't necessarily a Xenon**, so rather use *"device"* or *"Xenon/Argon/Boron"*

[2019-02-03 21:20] marc-gist commented on #55
I had issues here. hopefully you will consider updating this screen, adding more to the animation to show that it can be the gateway device which needs to be put in "blue flashing" mode and scanned.  took me 20min or so to figure out :(

[2019-02-14 12:25] jensck opened #56 "On setup choosing WiFi and going back, need to disconnect from Photon Soft AP"
Issue: When user changes mind about WiFi network, the phone remains connected to Soft AP and fails when selecting "Ready". (Not tested, but leaving the app they may still remain connected to Soft AP thus failing any other internet connection they are expecting to have if setup was abandoned.)

To reproduce issue: Setup > "Ready" > Select Photon Soft AP > See list of WiFi networks...user changes mi

[2019-02-14 12:27] jensck opened #57 "React Native integration issue"
Original issue: https://github.com/particle-iot/spark-setup-android/issues/61

---

I’m having some trouble integrating the Android SDK with my React Native app.

I’m able to inject an access token using the Cloud SDK and then register a device using the Device Setup Library. However, once setup has finished, I can’t seem to hand back control to RN / return to the “main activity”.

In MainApplicat

[2019-02-14 12:28] jensck opened #58 "CommandClient sendCommand Error"
Original issue: https://github.com/particle-iot/spark-setup-android/issues/55

---

code
[code]
Error
[code]
I sure connected photon wlan
Please help me. thanks.

[2019-02-14 12:29] jensck commented on #58
No response on original bug, closing.

[2019-02-14 12:29] #58 closed

[2019-02-14 12:30] jensck opened #59 "java.io.EOFException: \n in not found inside commandclient.java when working against softap-emulator"
Original issue: https://github.com/particle-iot/spark-setup-android/issues/52

---

CommandClient.Java line 126 is calling buffer.readUtf8LineStrict, which fails on the response received from the softap-emulator. I don't think there's a need to read the headers from the response as the TCP client doesn't set any headers. Does anyone know why does it read the headers here?

[2019-02-14 12:31] jensck opened #60 "Problem with onboarding Photon in some environments"
Original issue: https://github.com/particle-iot/spark-setup-android/issues/51

---

Hi,

we are developing product based on particle platform and we are using Photon device, which is integrated into our hardware. We have problems with onboarding using Android devices, iOS ones are mostly fine. This onboarding problem happens in approx 80% of tries when in specific environment so it actually succee

[2019-02-14 12:32] jensck opened #61 "Guarantee connection to soft AP before sending commands"
Original issue: https://github.com/particle-iot/spark-setup-android/issues/30

---

Likely related to #27

`CommandClient` usage should be refactored a bit to ensure the given soft AP is connected before sending commands.  My suggested approach is to wrap up CommandClient with a decorator which ensures we're connected before every call to `sendCommand()`.

Pseudo-code sketch of the idea:

[code]

[2019-02-14 12:34] jensck opened #62 "Perform audit of the API surface for classes and methods that don't need to be public"
Original issue: https://github.com/particle-iot/spark-setup-android/issues/23

[2019-02-14 12:36] jensck opened #63 "Async RejectedExecutionException"
Original issue: https://github.com/particle-iot/spark-sdk-android/issues/50

---

Cloud SDK `Async` implementation occasionally throws `RejectedExecutionException` (once ThreadPoolExecutor limit is exceeded). This exception was also a culprit behind few crashes on Tinker app.

Few options put forward by @jensck:

- Use our own ThreadPoolExecutor with a higher limit
    - Overload `executeAsync()`

[2019-02-14 12:37] jensck opened #64 "Go over FIXMEs and TODOs in source code"
Original issue: https://github.com/particle-iot/spark-sdk-android/issues/31

---

See which ones need attention and which do not, file issues where needed, and then remove them

[2019-02-14 16:46] beriberikix opened #66 "Consider adding ISSUE.md and SUPPORT.md"
See more [here](https://github.blog/2016-02-17-issue-and-pull-request-templates/) and [here](https://help.github.com/articles/adding-support-resources-to-your-project/).

[2019-02-20 20:28] rduriancik opened #68 "DeviceSetup: Android 9 wifi scan throttling"
Hey! We're using your device setup library and we have one user whose device wifi doesn't show up in the setup. I did notice neither fatal nor non-fatal crash in Crashlytics so I assume there was no error thrown. Therefore I think the cause is that getScanResults() method in WifiFacade returned an empty list.
He has Pixel 3 XL with Android 9. I have a bad feeling that it has something to do with h

[2019-02-20 21:03] jensck commented on #68
Your theory is a good one. I haven't run into this on my Pixel 2 w/Android 9, but this is the sort of issue which might not be triggered depending on the circumstances.

One way to confirm this would be to ask the user to wait two minutes from their last attempt, make sure that the device they're trying to connect to is online, and then try setup.  The device ought to be there in the first four sc

[2019-02-22 08:15] rduriancik commented on #68
I let him try it. The device network showed up in first 3 seconds (probably first wifi scan). So it supports the theory.

I'm thinking how to take this UX wise. Even if we optimize it that the app scans wifi only until the device is found and then the other APs are send to the  next screen so that we don't need to scan again, there is no guarantee that the device network will be found in the first

[2019-02-25 21:31] jensck commented on #68
I doubt they will remove Wi-FI scanning entirely.  That would break a major API, and completely break the setup process for many IOT/smart devices, not just Particle-powered stuff.

Regardless, this scanning change could be an issue for some.  I'm not sure what you mean about "let him select the network manually" though.  Do you mean manually typing in the Wi-Fi SSID?

[2019-02-26 21:48] rduriancik commented on #68
To select particle device network I meant to go to system wifi settings (out of the app), choose particle network and get back to the app. The app would somehow detect that the phone is connected to the right network.

[2019-02-26 22:06] jensck commented on #68
I'm not convinced we should be giving up on Wi-Fi scanning just yet.  Asking the user to _exit your app_ to accomplish something is far from ideal UX.

What if scanning behavior was changed to only perform only two scans (one up front and a second one X seconds later just in case a device isn't plugged in yet/isn't in setup mode/etc), and the results shown to the user would be the union of both sc

[2019-02-27 20:11] rduriancik commented on #68
Yeah, I agree. I was counting on the worst case scenario.

:thinking: Both approaches sound good. Maybe I'd show to the user that some scanning is happening, like progress circle or something so that he won't think the app is not doing anything.

I think I like the second approach more.
Maybe when that screen is shown, wait 1-2 seconds then start wifi scan, if a network of the device is not found,

[2019-03-05 04:22] jensck commented on #68
No easy answers to stuff like this, that's for sure.

I'm going to bring this to the attention of the product folks at Particle to get their take on the situation.  I'll update here once I've talked w/them.

[2019-03-12 18:03] ScruffR opened #69 "Android app should allow manual SSID for hidden WiFi network on Argon"
As it seems there currently is no way to hook an Argon up to a WiFi with hidden SSID via Android app.
See discussion here
https://community.particle.io/t/connect-argon-to-hidden-wifi-network-without-cli/48375

[2019-03-31 01:43] KenMacD opened #70 "Boolean variables don't show up"
Boolean variables show up fine on the web console, but do not show up in the app. It looks like boolean might need to be added to `variableType`.

Based on comments in https://community.particle.io/t/boolean-variables-missing-android/48670/5

[2019-04-28 14:00] gusgonnet commented on #55
I was trying to re-add a Xenon to a network where I had only one Xenon (the one I was trying to re-add) and the gateway (an Argon) and this blocked me for a whole afternoon. So when the app said: scan the other Xenon I was out of luck since I did not have another Xenon...

If it could be changed to another device in the network that would be helpful.
Thanks!

[2019-05-28 15:58] MozilaIP commented on #68
Let's upvote and comment
[](https://issuetracker.google.com/issues/112688545)

[2019-07-12 08:30] rlysens opened #75 "Password reset does not work for customer accounts"
The current password reset logic in the Device Setup Library does not work for customer accounts, i.e. accounts created through the Device Setup Library.

The PasswordResetActivity calls the cloudSDK's requestPasswordReset() function to reset a customer account password:

https://github.com/particle-iot/particle-android/blob/7bbf20f713fe2d6b1f11615721d5199bf06fedd0/devicesetup/src/main/java/io/par

[2019-07-15 14:59] jensck commented on #75
Thanks for reporting this!  I'll look into it sometime this week.

[2019-08-10 23:53] gusgonnet commented on #75
Hi @jensck ,
I think I hit this issue too, has there been any progress on this?
thanks!

[2019-08-11 04:27] bloukingfisher commented on #75
@gusgonnet I'm sure this is related to Particle retiring the functionality for customer product accounts. See the message below that was sent out in April to accounts that were using the functionality. I am myself facing the same issue and have not transitioned to two-legged authentication and would need to figure out building my own user flow. I'm not sure if it would be possible, but since the r

[2019-08-11 22:36] gusgonnet commented on #75
ouch! that would be pretty painful...
Thank you for the info.
Gustavo.

[2019-08-19 19:20] gusgonnet commented on #75
we are talking about this bug on this thread:
https://community.particle.io/t/stop-using-the-simple-authentication-method-for-particle-products/51705

[2019-08-22 21:26] markoImake opened #80 "Bintray links to 'old' spark version of cloud sdk"
The bintray cloud-sdk package links to the old archived spark repo (https://github.com/particle-iot/spark-sdk-android).
This applies to all of the following:
compile 'io.particle:cloudsdk:0.5.1
https://dl.bintray.com/particle/android/io/particle/cloudsdk/0.5.1/
https://bintray.com/particle/android/cloud-sdk/

[2019-08-22 21:56] jensck commented on #80
I've fixed this on the bintray website, and the gradle file will be updated shortly with the current. The binary packages themselves will reflect this next time we publish a new version.

Thanks for the heads up!

[2019-08-22 21:56] #80 closed

[2019-09-12 22:57] GonzRon opened #81 "cloud sdk login no longer works"
I m trying to generate a new access token by calling the deviceSetup 0.6.3 loginActivity

My username and password work correctly, using postman i can send a request to https://api.particle.io/oauth/token with a grant_type of password, and my username and password in the body
![2019-09-12_18-55-52](https://user-images.githubusercontent.com/18006895/64826608-3489da80-d58f-11e9-8ee7-7f752366c099.jpg

[2019-09-16 19:43] jensck commented on #81
I'll take a look and see if I can reproduce these findings.

[2019-09-16 22:30] jensck commented on #81
I understand why you'd suspect the form encoding is a bug, but it's intentional.

As for the difference you're seeing between the debugger and Postman, Postman is probably hiding some information from you here.  You've selected `x-www-form-urlencoded` in your screenshot, but Postman doesn't expect you to enter your parameters pre-encoded; it's doing the encoding for you.
 Try setting up that same

[2019-09-17 00:31] GonzRon commented on #81
I double and triple checked the password in the debugger.  I agree it's probably not an encoding issue, there must be something else going on.

[2019-09-17 11:59] GonzRon commented on #81
OK I figured out the problem, in my postman request, I'm using the base64 encoded representation of "particle:particle" in my Authorization: Basic Header.

In the android application, I see the base64 encoded value of my oauth client id and client secret.

Apparently using particle:particle works, but not the oauthclient:secret
My app was written a year or two ago, so this has always worked until

[2019-09-18 12:33] GonzRon commented on #81
@jensck perhaps I am being a bit hasty in expecting a response, but can you a. address my latest comment, b. reopen this ticket, or c. express a preference for me to open a new ticket with the above latest information?

[2019-09-19 06:04] jensck commented on #81
This looks like legit enough evidence to reopen. Thanks for the detailed update.

I'll try to look into this before the weekend.

[2019-09-22 01:22] jensck commented on #81
Apologies I couldn't get to this yet; I should be able to look at it Monday.

In the meantime, can you try setting up a new project using newly-generated Oauth credentials and see if that sample exhibits the same problem?

[2019-09-23 20:29] jensck commented on #55
This is fixed.

[2019-09-23 20:29] #55 closed

[2019-09-25 15:38] GonzRon commented on #81
any luck?

[2019-09-30 22:46] GonzRon commented on #81
so are we going to be able to get any attention on this ticket from Particle @idokleinman ?

[2019-10-01 20:14] jensck commented on #81
Sorry about the delay.  I tested the flow I gave above (setting up a new project using newly-generated Oauth credentials) and that worked as expected.

Try cloning [this repo](https://github.com/jensck/particle-android-auth-test) and putting in your values for `oauth_client_id` and `oauth_client_secret`, and checking the logcat output.

[2019-10-02 00:56] GonzRon commented on #81
really appreciate the effort Jens.

Here was my original reply (which is no longer valid, well technically, only partly valid.)

So I cloned the repo compiled and ran in debug.  Would you believe it? It also didn't work with my creds.
[code]

But that's not all. I created a new Oauth Client under my PRODUCT in the cloud console (console.particle.io/productName/authentication), as based on your las

[2019-10-02 01:04] GonzRon commented on #81
OK, I get it, only customers created under the product that contains the Oauth Client can login to the app with the oauth client creds.  I am guessing that this has always worked incorrectly, i.e. you could use a non product username / password with a product specific oauth client, and this little "feature was fixed".

Sorry for bothering you @jensck

[2019-10-02 01:04] #81 closed

[2019-10-02 01:11] jensck commented on #81
@GonzRon no worries. I appreciated the detailed report, even though it wasn't an SDK problem in the end. Glad to see you got it figured out! :)

[2019-10-02 01:32] GonzRon commented on #81
I went ahead and used the console to unclaim the device, then used postman to claim the device for my customer account, that was a bit tricky, but once I got all the creds and oauth clients lined up, I was able to claim the device for my customer, and the app started working again but I had to make sure to login as the customer.  So this used to work the wrong way, and now you guys fixed it, secur

[2019-10-02 18:06] jacky4566 opened #82 "Trouble compiling examples 'quickstartFile' does not exist."
I am having some trouble compiling the sdk example.
This is a fresh install of Android Studio with SDK 28

What is my next step to resolve?

[code]

[2019-10-02 18:21] bloukingfisher commented on #82
If you've not created and added your own google-services.json file from https://firebase.google.com/, then in the app/build.gradle comment out:
apply plugin: 'io.fabric' (line 22)
apply plugin: 'com.google.gms.google-services' (line 147)

In settings.gradle comment out:
sdk_example_app
setup_testapp
setup_exampleapp

That's assuming you're running the "app". Give that a try. Otherwise adjust accor

[2019-10-02 19:21] jacky4566 commented on #82
OH. Ok.
I created a firebase account and added the appropriate JSON. That seems to have fixed the issue.
Now I'm running into issues with io.particle.firmwareprotos.ctrl.Common.IPAddressOrBuilder which i think you are [already working on?](githubhttps://community.particle.io/t/tinker-app-source-code-for-android/50952/11)

[2019-10-02 19:27] bloukingfisher commented on #82
The way I solved it is:
uncomment lines 39-46 where v4 and v6 is used in \mesh\src\main\java\io\particle\mesh\setup\flow\setupsteps\StepEnsureEthernetHasIpAddress.kt

        val iface = reply.`interface`
        for (addyList in listOf(iface.ipv4Config.addressesList, iface.ipv6Config.addressesList)) {

          /*  val address = addyList.firstOrNull {
                it.address.v4.address.truthy

[2019-10-02 20:16] jacky4566 commented on #82
Great, that at least gets me the example working.

[2019-10-02 20:16] #82 closed

[2019-10-10 20:12] jensck commented on #82
Update: the firmwareprotos compilation issue is finally fixed in `master`.

[2019-10-21 07:30] ScruffR opened #84 "Particle.variable(INT) > 9999999 don't fit into view"
While 9999999 can be displayed 10000000 cannot but only the first digit would be shown.
If you had 23456789 you would get 2 in the app.

Tested on Photon 1.4.2 - App version I _guess_ v3.02 (not found in app - what about an About box in the ... menu?)
[code]

Console shows the correct value as expected.

[2019-10-21 14:07] bloukingfisher commented on #84
FYI, @ScruffR if you sign out of the app, close it and then get back to the welcome screen the version number should be displayed in the bottom...scratch that. That seems to still work for iOS but not Android.
In Android, long press on the app icon >App info > scroll to bottom for version.

You should maybe add what device you are using. I find more things chopped off on a test iPhone 5 that large

[2019-10-21 14:33] ScruffR commented on #84
Samsung Galaxy A3 (2017)

When I long-tap the App icon I only get [ Select Items | Add to Start screen | Uninstall ] 😕

[2019-10-21 19:05] jensck commented on #84
@ScruffR can I get a screenshot of what you're seeing?  Thanks!

[2019-10-22 09:35] ScruffR commented on #84
This is what I see in console
![image](https://user-images.githubusercontent.com/6604878/67273927-ba1e7580-f4bf-11e9-8a56-c42f439de2fd.png)
And this in the Android App (tested on multiple devices: Android Galaxy A3 (2017), Huawai Mate8, Android Galaxy Tab S3)
![image](https://user-images.githubusercontent.com/6604878/67274083-0cf82d00-f4c0-11e9-92d6-f9aea69db0e4.png)

[2019-10-22 20:54] jensck commented on #84
Thanks for the screenshots -- I'll get this fixed for the next app release.

[2019-10-22 21:33] jensck commented on #84
Thanks for the extra info, @ScruffR . I'll include a fix in the next app update.

[2019-11-19 05:21] jensck commented on #84
This is fixed now.  An app update with this fix applied will be available within a day or so.

[2019-11-19 05:21] #84 closed

[2019-11-19 05:47] jensck commented on #70
Sorry this took a while to fix, but this has been rectified in the latest app release, 3.0.3, which will be available in a day or so.

[2019-11-19 05:47] #70 closed

[2019-11-19 05:50] jensck commented on #75
This method is no longer supported by Particle's cloud API, so the corresponding method, `requestPasswordResetForCustomer()` has been removed from the latest releases of the mobile SDKs.

[2019-11-19 05:50] #75 closed

[2019-11-19 05:52] jensck commented on #11
This is now present in the app; closing

[2019-11-19 05:52] #11 closed

[2019-11-19 05:53] jensck commented on #33
This was fixed a while back; closing!

[2019-11-19 05:53] #33 closed

[2019-11-19 06:35] jensck commented on #61
This is never likely to get prioritized; closing.

[2019-11-19 06:35] #61 closed

[2019-11-19 23:23] jensck commented on #69
Internal ref: ch34523

[2019-11-19 23:35] jensck commented on #68
internal ref: ch41794

[2019-11-19 23:42] jensck commented on #66
We don't seem to need an issue template; what relatively small number of issues we get are usually well-enough described for all the kinds of info that templates would help with.

As for SUPPORT.md, we have support info directly in the README.  I'm not sure what having this special file will do that would be an improvement?

[2019-11-19 23:42] #64 closed

[2019-11-19 23:44] jensck commented on #63
Closing this.  `Async` should be deprecated; the future is Kotlin coroutines + LiveData.

[2019-11-19 23:44] #63 closed

[2019-11-19 23:44] #62 closed

[2019-12-01 23:23] brady-aiello opened #89 "Can't use the latest versions of cloudsdk (1.0.0) and device-setup(0.6.3)"
When using both libraries of these versions:
[code]
This creates a duplicate class exception:

[code]

It stems from this commit 2 weeks ago: https://github.com/particle-iot/particle-android/commit/f30afcda7828bb20ef591adba19dee4c2ee88729#diff-a581a7820f8e9feca1ef7468a402b4dd

Is this expected? Will the device-setup SDK also have a 1.0.0 release soon to complement the cloud sdk?

[2019-12-09 02:11] jeremiahogutu opened #90 "Unable to change value for indicator_light_setup_color_name"
I am unable to change the values for **indicator_light_setup_color_name** and **setup_button_identifier**. I am integrating the android sdk into a react native app. I am able to customize most of the values in the android sdk by adding them to string.xml, but for some reason it does not work for the values mentioned above.

[2019-12-12 19:09] jensck commented on #90
`indicator_light_setup_color_name` and `setup_button_identifier` are just an internal-use strings for templating; I'm guessing you were reading the source? :)

The values you want are `listen_mode_led_color_name` and `mode_button_name`, respectively.  For future ref, all of these [customizations are documented here](https://docs.particle.io/reference/SDKs/android/#customization)!

[2019-12-12 19:09] #90 closed

[2019-12-12 21:33] jeremiahogutu commented on #90
That worked perfect. Thank you!

[2019-12-16 16:04] rduriancik opened #92 "Device Setup: Can't connect to device WiFi on Android 10"
Hi, I have an issue on Android 10 to connect to our device on the DeviceDiscovery screen. We use a slightly modified version of your library but the business logic is almost the same. I debugged it and probably got to the main problem. `connectToAp(...)` method in ApConnector calls WifiManager (via WifiFacade) `addNetwork(...)` method and if that fails it also calls `getConfiguredNetworks(...)` in

[2019-12-17 13:18] RaimundasSakalauskas commented on #92
Hello @rduriancik, thank you for reporting this. Not sure if this will get looked into before the holiday, but @jensck (he maintains this repo) will return to you as soon as he sees this.

[2019-12-18 09:20] jensck commented on #92
I've confirmed this.  Clearly this needs to be solved for the long term, but in the short term, have you shipped your app with API 29 yet?  If not, as a temporary workaround, can you target API 28 instead?

[2019-12-19 14:34] rduriancik commented on #92
Yes, we already shipped our app with API 29. We have customers using Google Pixel phones and some other OEMs are also rolling Android 10 out.

[2019-12-19 20:41] jensck commented on #92
Okay, thanks for the follow up. I'll to start looking at an alternative approach that works when targeting API 29.

[2020-01-06 19:45] jensck commented on #92
Update: I'm back from the holiday break.  Finding a suitable approach for API 29 is one of my immediate top priorities.  I'll post another update later this week with what I've found.

[2020-01-13 18:15] jensck commented on #92
I should be shipping an update to the setup lib this week which addresses this.

[2020-01-17 15:29] IgnacioBasallote commented on #56
Hi, I have an issue in case the wifi setup ends up with an error. When I close the app and restart it, the cellphone remains connected to the device Wi-Fi. Then, if the user tries to log in again it will not be possible since there is no internet connection. The solution is to go to mobile settings and delete the device Wi-Fi and to connect the mobile to the internet.

Would it be possible to dele

[2020-01-20 22:30] jensck commented on #56
I think a workaround for this could be added reasonably easily.  I'll look into it for the next release of the device setup lib.

[2020-01-22 18:08] IgnacioBasallote commented on #56
Thanks :)

[2020-01-29 11:25] IgnacioBasallote opened #94 "Device setup: App crash"
Hi,

I had an app crash on a Moto G (5th Gen) (cedric) with Android 8.1. The app came with this error when setting the Wi-Fi connection.

[code]

[2020-01-30 12:17] IgnacioBasallote commented on #94
Hi,

Again same issue on a Samsung Galaxy A40 (a40), Android 9.

This is the version of device setup library in my project:  io.particle:devicesetup:0.6.3.

I do not why but the app crashes in some devices. Tried on a Samsung S9+ and OnePlus without any issue.

I am looking forward to your response.

Thanks and regards,
Nacho

[2020-01-30 12:32] IgnacioBasallote opened #95 "Device setup: App crash in GetReadyActivity."
Hi,

I got this issue while login in your app on a Samsung Galaxy A40 (a40), Android 9. It is only happening on some devices.

[code]

Have you have seen this issue before? How can be solved?

Thanks in advance,
Nacho

[2020-01-30 17:14] IgnacioBasallote opened #96 "Device setup: Phone - device Wi-Fi connection failure."
Hi,

I have an issue in the "Choose your XX device" screen during the device setup. When I select the device network to connect my phone into it, the app pops up the progress dialog, but it will never leave this screen. I have been going through your code to see what is causing this problem and finally, I figured out that the phone is connecting/disconnecting until the variable discoverProcessAtte

[2020-02-03 20:58] jensck opened #97 "Device ID not broadcast at the end of Wi-Fi-only setup"
See this thread: https://community.particle.io/t/how-do-i-get-the-device-id-after-setup-is-complete-on-android-react-native/53895/

[2020-02-04 02:21] jensck commented on #94
I found the source of the crash.  I'll fix this for the next release of the lib.  Thanks!

[2020-02-04 02:24] jensck commented on #95
Was this in the Particle app, or in your app, using our library?

[2020-02-04 02:37] jensck commented on #96
We already disable the network we're currently connected to.  Disabling _all_ networks is an option I suppose (I'm guessing one would actually have to disable just the registered networks _currently in range_), but that seems like it runs a high risk of side effects and would require a good amount of testing.  As such, I can't give any kind of timeline for fixing this right now.

[2020-02-04 11:50] IgnacioBasallote commented on #94
Hi Jensck!

Thanks for your answer!

Do you know approximately when are you launching a new release?

Cheers,
Nacho

[2020-02-04 11:57] IgnacioBasallote commented on #95
Hi Jensck,

I use your library for the WiFi setup (external dependency). I launch the setup from my app according to the guidelines given here: https://docs.particle.io/reference/SDKs/android/#introduction-1.

This app crash happened when initiating your app in the get ready activity.

I hope this is of some help.

Thanks,
Nacho

[2020-02-04 15:04] antoniovazquezblanco commented on #96
Disabling all the networks is not a very efficient solution. The problem resides in the fact that android API for network preference has changed. The `priority` field is no longer used and deprecated (in fact, the whole `WifiConfiguration` class is). We have found the issue above in various phones from various manufacturers due to changes in Android and not due to changes made by manufacturers. Fr

[2020-02-07 08:34] IgnacioBasallote commented on #94
Hi @jensck ,

Thanks for your support.

I have seen that the master branch was uploaded 23 days before. Does it mean that the next release will take at least 60 days? Because we have experienced this issue with several users, and if this takes that long maybe we need to figure out how to face this issue in the meantime.

Cheers,
Nacho

[2020-02-14 10:18] IgnacioBasallote commented on #94
Hi @jensck,

Do we have any news regarding the new release?

Cheers,
Nacho

[2020-02-14 22:57] monkbroc commented on #92
@rduriancik I wanted to give you a heads up that this fix will be delayed due to shifting team priorities. You'll have to keep using the workaround of targettting API 28.

[2020-02-15 00:37] rduriancik commented on #92
No worries, we don't need it anymore but thank you.

[2020-03-01 03:54] brady-aiello opened #98 "Can't unset the "claimed" status on the device"
The device ```unclaim()``` method only unclaims the device in Particle Cloud. It doesn't actually remove the claimed status on the device, which means that no user will be able to reclaim device again until the claimed flag is reset. I faced this issue here: https://community.particle.io/t/failing-to-setup-product-that-has-previously-been-claimed/54410

The flag can be reset to false (c=0) either

[2020-03-12 10:39] StemyEnergy commented on #96
Hi,

Having the same issue with a Samsung Galaxy S9 with Android 10. The app is not able to connect to the device's WiFi. The phone remains connected to the WiFi network it was connected before starting the configuration process.

After a couple of minutes, the app prompts an error dialog which lets you retry the process.

Thanks in advance for your help!

[2020-03-19 23:29] markoImake commented on #92
@rduriancik I've got the same problem. Did you manage to solve the issue?

[2020-03-20 11:58] rduriancik commented on #92
@markoImake No, I don't. We stopped using particle.

[2020-03-22 23:04] markoImake commented on #92
@monkbroc is there any update on when the fix for this will be released?

[2020-03-23 13:40] monkbroc commented on #92
There is no update yet beyond using the workaround of targetting API 28 for now.

[2020-04-16 09:35] IgnacioBasallote commented on #95
Hi @jensck ,

Sorry to bother you, but do you know approximately when there will be a new release for the device setup library?

Thanks in advance,
Nacho

[2020-05-19 07:27] jellyedwards opened #100 "Event not showing in apo"
Hi,

When my device publishes events, I can see them in the web console but not on the app. It used to work previously. I've tried clearing the app's data and signing in again but no luck fixing it.

I'm using a photon and the code to publish is:

[code]
Thanks

[2020-06-23 20:08] IgnacioBasallote commented on #94
Hi,

I could gather some extra info from other crash in another android device that might be related to the same issue:

![photo_2020-06-23_21-53-11](https://user-images.githubusercontent.com/60007459/85453343-0e707c80-b59c-11ea-83c2-be63e516bf48.jpg)
![photo_2020-06-23_21-53-27](https://user-images.githubusercontent.com/60007459/85453351-0f091300-b59c-11ea-9ae9-c44bcce61c8e.jpg)

It seems to me t

[2020-07-28 07:34] slomin opened #101 "App runtime crash during Particle Cloud initialisation"
I'm experiencing following crash while calling ParticleCloudSDK.init(this) in the Application class:

Here's my app's Gradle script:

[code]

Adding AndroidX legacy fixes it:

`implementation 'androidx.legacy:legacy-support-v4:1.0.0'`

But it would be cool if someone could update the code of the library or at least the docs.

Thanks!

[2020-08-14 20:02] jeremiahogutu opened #102 "Particle Android app ui is broken when user adjusts font size"
Users cannot see the **'ready'** button if they adjust font size on their phones. We are using the particle android SDK and we account for the font size accessibility settings within the app but ui breaks when user launches particle SDK. See image below

[https://native-upload.s3.amazonaws.com/particle_ui.jpg](https://native-upload.s3.amazonaws.com/particle_ui.jpg)

To replicate this I am using an

[2020-09-10 15:06] izmevid commented on #81
Hi,

I am right now experiencing the same issue and I think that the root cause is the same: I have a Photon which I changed from one account to another and I am now using it with the new account.

With Android Studio I get this "io.particle.android.sdk.cloud.exceptions.ParticleCloudException: retrofit.RetrofitError" Error.

Could you please tell me how exactly you fixed that?

Thanks!
David

[2020-09-10 15:28] GonzRon commented on #81
Hi @izmevid

is a generic error.  The real error should be further in the stack. if you notice above I received:

notice the 400 error code in my message, you should paste your entire stack exception. I recommend opening a new ticket and providing a detailed description and referencing this issue so that someone from particle (or anyone) can try to help.

You may think that the issue is related to

[2020-10-09 09:00] brahma-dev opened #103 "SSID containing ampersand & can't be set"
As discussed in this thread
https://community.particle.io/t/photon-cant-connect-to-ssid-with/43446

Android app does not correctly set the WiFi credentials when containing certain characters (e.g. ampersand &).
Setting the credentials via CLI works just fine, but when set via Android App the device just can't connect.

Copied from https://github.com/particle-iot/android-app/issues/20

[2020-10-13 23:57] markoImake commented on #92
@monkbroc @jensck Do you have any update on this issue? Next month (November 2020) we won't be able to use the workaround of targeting API 28 anymore, so essentially we won't be able to release any app updates while supporting this Particle device setup feature - https://developer.android.com/distribute/play-policies

[2020-10-14 01:31] monkbroc commented on #92
Yes, we are testing a fix right now. I'm hoping we can share the pull request by the end of the week.

[2020-10-14 01:37] markoImake commented on #92
@monkbroc thanks for the update, we will be very interested in viewing the pull request once available.

[2020-10-15 14:09] monkbroc commented on #92
@markoImake can try try the branch `jensck/fix-for-modern-android-sdks` from https://github.com/particle-iot/particle-android/pull/104 to see if it works for you?
There's still one known issue with the new Android 10/11 code: if the user is already connected to a Wi-Fi network before they start Photon setup, they won't reconnect to that network until they exit the Particle app.

[2020-10-21 00:16] markoImake commented on #92
@monkbroc I have tested that branch and can confirm it works, thanks! I also experienced the issue you mentioned. Do you have any idea when the issue will be resolved?

[2020-10-29 00:08] markoImake commented on #92
@monkbroc I have tested the new Android 10/11 device setup on a few different devices and have run into a case where it is not working. When using a OnePlus 6 device I experience some unexpected behaviour. See logcat error below and device info and video showing behaviour attached. Please let me know if you need any further information.

![device-details](https://user-images.githubusercontent.com/

[2020-10-29 13:41] monkbroc commented on #92
Hi @markoImake. The device setup lib update with support for API 29 and beyond was released yesterday. https://github.com/particle-iot/particle-android/releases/tag/devicesetup-0.7.0

We haven't seen the issue you posted above in our testing. The exception shows it is unable to get the device ID during setup, which is not an area of the code that has changed and shouldn't be a model-specific issue

[2020-11-02 01:02] markoImake commented on #92
@monkbroc The issue occurs every time on every particle device using that particular phone. I happened to have access to another phone of the same model and found that it is working fine, so the issue does seem limited to that one particular phone. Interestingly it works perfectly with the old device setup library.

[2020-11-02 03:40] monkbroc commented on #92
Maybe it's got something to do with the data in the app? Does the issue
occur after you clear the data and/or reinstall the app?

On Sun, Nov 1, 2020, 8:02 PM markoImake <notifications@github.com> wrote:

[2020-11-02 18:29] monkbroc commented on #92
I'll mark this issue closed. If you find more info about the phone that was having issues please open a new issue, ok?

[2020-11-02 18:29] #92 closed

[2021-02-20 14:17] GonzRon opened #106 "Feature Request: Add Support for PKCE"
I would rather not store any client credentials in my Android or iOS clients for my custom particle based product.  PKCE is an extension to the OAUTH Authorization Code flow that is designed to do away with the need for storing keys on a client.

Please add support for PKCE in your Mobile SDK's.

(note: I did a search in the forum, wasn't sure if this was already supported

[2021-10-05 01:51] tuxedotshirt opened #109 "Cannot resolve symbol okhttp"
I followed the stack trace all the way to the particle sdk. My basic app keeps crashing when ParticleCloudSDK.init(this) is called. The imported library com.squareup.okhttp.HttpUrl; cannot be resolved. I can't change it, since it is read only.

[2022-01-25 15:29] Desdaemon commented on #96
Chiming in, this is a blocker on my Oppo Reno running Android 11 and Google Pixel 3 running Android 12 as well.

[2022-06-12 17:46] pjvanhorn commented on #109
I had the same issue and it took me more than a day to get it resolved. I've only made 2 very simple Android apps so, to be fair, I'm still a novice when it comes to Android development and using Android Studio. In any case this ultimately boiled down to the dependency set that I was using and the CompileSDKVersion.  Here is my build gradle for my app that compiles and is able to login as of 6/202

[2022-11-18 12:55] markoImake opened #111 "Device setup: Fail to send device commands after connecting to Wi-Fi on Android 12+"
If your app targets sdk 31 and above, the device setup process is not working anymore. It fails after you connect to the device AP, at the point where it is trying to send a device command to get the device ID.

Tested with latest particle repo code, using Pixel 6a running Android 13. If you build the project using targetSdk 30 it works fine as before (same as production version of particle app on

[2022-11-21 17:15] mrlambchop commented on #111
Hey folks, a few questions as we look into this:

- during testing, was your device connected to a local Wi-Fi network that supplies internet connectivity?
- if so, what is the subnet mask and IP address of the local Wi-Fi network?
- What device is this being tested on and what exact android OS version?

I'm looking at this specific change right now FYI:

```To better support Wi-Fi STA/STA concurr

[2022-11-22 04:37] markoImake commented on #111
Hi Nick

Thanks for the response, appreciate you looking into this.

See answers to your questions below.

Yes the device was already connected to a local Wi-Fi network with internet connectivity when starting to setup process.

ip address: 192.168.1.1
mask: 255.255.255.0

The device is a Google Pixel 6a running Android 13. See attached screenshot for Android version details.
When calling wifiMana

[2022-11-23 15:07] mrlambchop commented on #111
Thanks! Working on a patch to get you out of the immediate jail. Will loop back shortly!

[2022-11-24 03:32] mrlambchop commented on #111
Initial PR is here - https://github.com/particle-iot/particle-android/pull/112 .

Its thanksgiving eve and Particle is off on vacation today, so its accordingly a little rough and ready (I need to fix a couple of misc files already from my PR), however, I tested the fix using the exact configuration that was struggling last time and it appears to work. However, potentially my test isn't correct!

[2022-11-24 03:37] markoImake commented on #111
That's awesome thanks, I appreciate it! I'll give it a test and let you know how it goes.

Happy thanksgiving!

[2022-11-24 13:21] markoImake commented on #111
I tried out the new PR, but unfortunately the issue is still happening. See console logs below.

Let me know if you need any further information.

[2022-11-24 13:40] mrlambchop commented on #111
I see the issue - its because I'm using an Android phone on 13 (pixel 4a) that doesn't have dual wifi AP support, so it disconnects from one network to join the other. I think my fix is directionally correct, but its missing a filter on the network callback to determine which type of network its looking for (internet or local). I'll find a pixel 7 and use that but I can probably change the code in

[2022-11-24 13:48] markoImake commented on #111
I'm happy to test it out if you push through some changes.